<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "splash.denverfitz2009.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Splash]</name>

    <description>
        This app was created using Scratch, GitHub, and PhoneGap. You can use this on iPhone or Android. Press the arrows to move around the map. The other instructions are on the loading screen. Otherwise, just enjoy!
    </description>

    <author href="http://scratch.mit.edu/users/denverfitz2009" email="stringbean2010@icloud.com">
        denverfitz2009
    </author>

</widget>
